<!doctype html>
<html lang="en">

<head>
  <title>Whitelist</title>
  <link rel="manifest" href="/manifest.json">
</head>
You are on {{orgName}} App
<script src="/app.js"></script>

<body>
</body>

</html>